<app-menu-title></app-menu-title>

<div class="articles">
  <div class="articles_main">
    <app-big-card
      id="1"
      pictureCover="https://dkrn4sk0rn31v.cloudfront.net/uploads/2020/06/ANGULAR.png"
      cardTitle="Origem do Nome Angular"
      cardDescription="Um fato curioso sobre o framework Angular é a origem do seu nome. Inicialmente, a equipe de desenvolvimento da Google o chamou de 'AngularJS', devido à ênfase na manipulação de 'ângulos' (ou seja, dados) nas aplicações da web. No entanto, quando o Angular foi redesenhado e reconstruído como Angular 2 e versões posteriores, o nome oficial foi simplificado para 'Angular'."
    ></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
    pictureCover="https://lh6.googleusercontent.com/rIfflcoaDLMz3am1x4N28xcDuemiRJZQkwSROydZEDbRzc8Tdy7CZfyr-FiVNtA7dOEjhibtFTbIwC8G-IGZXbTr6gf8A2sr2u5jR6XUbhst_ANQ1RbvVjv0XNqikvT2AdsLZkw"
    cardTitle="Desvendando o Poder do Angular Framework"></app-small-card>
    <app-small-card
    id="2"
    pictureCover="https://hermes.dio.me/articles/cover/86932ce6-6e4e-4184-a20e-9f26a997c740.png"
    cardTitle="Transforme Suas Ideias em Aplicações Web de Alto Desempenho"></app-small-card>
    <app-small-card
    pictureCover="https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/1275957/retina_1708x683_cover-top-18-most-common-angularjs-developer-mistakes-41f9ad303a51db70e4a5204e101e7414.png"
    cardTitle="Angular: A Revolução da Web Development Está em Suas Mãos"></app-small-card>
  </div>
</div>
