<div class="home_container">
	<app-card
		gameCover="../../../assets/ac-cover.jpg"
		gameLabel="Digital"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 400.00"
	></app-card>

	<app-card
		gameCover="../../../assets/bt-1.jpg"
		gameLabel="Exclusivo"
		gameType="PS4"
		gamePrice="R$ 600.00"
	></app-card>
	<app-card
		gameCover="../../../assets/bt-4.jpg"
		gameLabel="Digital"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 300.00"
	></app-card>
	<app-card
		gameCover="../../../assets/bt-5.jpg"
		gameLabel="Digital"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 100.00"
	></app-card>
	<app-card
		gameCover="../../../assets/bt-bad-company-2.jpg"
		gameLabel="Exclusivo"
		gameType="PS4"
		gamePrice="R$ 460.00"
	></app-card>
	<app-card
		gameCover="../../../assets/bt-hardline.jpg"
		gameLabel="Exclusivo"
		gameType="PS4"
		gamePrice="R$ 290.00"
	></app-card>
</div>
